/*==========================================================================
   Product list page
==========================================================================*/


.pathway-container {

    // --------- Product category tabs --------- //

    .pathway-container-buttons-products {
        border-top: 1px solid $background-color-light;
        border-bottom: 1px solid $background-color-light;

        .pathway-filter-item {
            text-transform: uppercase;
            background-color: $background-color-light;


            &.pathway-button-active {
                background-color: $background-color-default;
            }
        }
    }

    // --------- Product filters --------- //

    .inline-filters-container {
        border-bottom: 1px solid $background-color-light;
    }

    // --------- Product list --------- //

    .pathway-products-container {
        .product-list-container {
            background-color: $background-color-default;
            padding-top: 0px;

            // --------- Product list item --------- //

            .product-list-item {
                box-sizing: border-box;
                flex-basis: calc(100% / #{$product-list-columns} - #{$margin-amount} * #{$product-list-columns + 1} / #{$product-list-columns});
                margin-left: $margin-amount;
                margin-top: $margin-amount;
                margin-bottom: 0;
                position: relative;
                font-size: calc(1rem / 18 * 15);
                padding: calc(1rem / 18 * 20);

                &:nth-child(#{$product-list-columns}n) {
                    border-right-width: 0px;
                }

                /* Image container. Visible by default. */
                .product-image {}

                /* SKU. Visible by default */
                .product-sku {
                    //display: none;
                }

                /* Name. Visible by default. */
                .product-name {
                    font-family: gothamBook;
                    font-size: calc(1rem / 18 * 18);
                    text-align: center;
                    color: $font-color-body;
                    text-transform: uppercase;
                }

                /* Alternative product name. Visible by default. */
                .product-name-alt {}

                /* Price. Visible by default. */
                .product-price-container {
                    .product-price {
                        display: none;

                        &:before {
                            content: '$';
                        }
                    }
                }

                /* Star rating. Hidden by default */
                .product-rating {}

                /* Highlight on touch */
                &:active {
                    background: transparent;

                    &:after {
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 100%;
                        height: 100%;
                        background-color: $background-color-active;
                        content: '';
                    }
                }
            }
        }
    }
}

