/*==========================================================================
   Product list page
==========================================================================*/

.pathway-container {

    // --------- Product category tabs --------- //

    .pathway-container-buttons-products {
        .pathway-filter-item {
            background-color: $background-color-light;

            &.pathway-button-active {
                background-color: $background-color-default;
            }
        }
    }

    // --------- Product list --------- //

    .pathway-products-container {
        .product-list-container {
            background-color: $product-list-container-background-color;
            padding-top: 0px;

            // --------- Product list item --------- //

            .product-list-item {
                box-sizing: border-box;
                flex-basis: calc(100% / #{$product-list-columns} - #{$product-list-margin} * #{$product-list-columns + 1} / #{$product-list-columns});
                margin: 0 $product-list-margin;
                font-size: calc(1rem / 18 * 15);
                padding: calc(1rem / 18 * 20);
                text-align: center;

                /* SKU. Visible by default */
                .product-sku {
                    display: none;
                }

                /* Name. Visible by default. */
                .product-name {
                    font-size: calc(1rem / 18 * 20);
                    color: $font-color-body;
                    font-weight: bold;
                }

                /* Price. Visible by default. */
                .product-price-container {
                    .product-price {
                        display: none;
                    }
                }
            }
        }
    }
}

