/*==========================================================================
   Font settings
==========================================================================*/

// --------- Set default fonts --------- //

html {
    font-size: $font-size-base;
    line-height: $line-height-default;
    color: $font-color-default;
    font-family: $font-family;
    font-style: normal;
    font-weight: normal;
}

// --------- Orientation font-size adjustments --------- //

@media all and (orientation: portrait) and (min-width: 1080px) {
    html {
        font-size: $font-size-default;
        line-height: $line-height-default;
    }
}

@media all and (orientation: landscape) and (min-width: 1920px) {
    html {
        font-size: $font-size-default;
        line-height: $line-height-default;
    }
}

// --------- Typography --------- //

h1 {
    color: $color-highlight;
}

h2 {
    color: $font-color-body;
    font-size: calc(1rem / 18 * 60);
    line-height: calc(1rem / 18 * 100);
    font-weight: normal;
}

// Remove highlight on touch
a:active {
    background: none;
}