.cta-button {
    text-align: center;
    padding: calc(1rem / 18 * 45);
    color: white;
    text-transform: uppercase;
    font-size: calc(1rem / 18 * 40);
    letter-spacing: calc(1rem / 18 * 2);
    background-color: $color-highlight;
    border-radius: calc(1rem / 18 * 5);
}