/*==========================================================================
   Product list page
==========================================================================*/

.pathway-container {

  // --------- Product category tabs --------- //

  .pathway-container-buttons-products {
    display: none;

    @if $enable-product-list-filters == 1  {
      display: flex;
    }


    .pathway-filter-item {
      background-color: $product-list-pathway-filter-background-color;
      color: $product-list-pathway-filter-font-color;

      &.pathway-button-active {
        background-color: $background-color-default;
      }
    }
  }
}

