$product-list-container-background-color: $background-color-default !default;
$product-list-columns: 3; // Number of columns in product list
$product-list-margin: 0rem; // Distance between each item and around the items

@import './containers/productList';