/*==========================================================================
   Star ratings example
==========================================================================*/

.product-rating {
    padding-top: calc(1rem / 18 * 20);
    display: block;
    font-size: calc(1rem / 18 * 20);

    .rating-base {
        color: $product-rating-color-base;
    }

    .rating-cover {
        color: $product-rating-color-cover;
    }
}

// --------- Product detail --------- //

.product-container {
    .product-rating {
        display: block;
        line-height: calc(1rem / 18 * 60);
        font-size: calc(1rem / 18 * 35);
    }
}

