/*==========================================================================
   Pathway container
==========================================================================*/

.pathway-container {

    /**
     * Category Title
     */
    .pathway-filter-title-item {
        display: block;
    }

    .pathway-container-buttons-buttonlist {
        padding: 0 calc(1rem / 18 * 50) calc(1rem / 18 * 50);
        justify-content: space-between;
        align-items: center;
        align-content: flex-start;

        .pathway-filter-item {
            flex-basis: 45%;
            position: relative;
            flex-grow: 1;
            margin: calc(1rem / 18 * 450) calc(1rem / 18 * 10) calc(1rem / 18 * 50);
            background: none;
            color: $color-default;
            font-size: calc(1rem / 18 * 35);
            text-align: center;

            &:after {
                position: absolute;
                left: 0;
                top: -390px;
                content: '';
                width: 100%;
                height: calc(1rem / 18 * 390);
                //background-image:url('../images/examples/category-image-default.png');
                background-repeat: no-repeat;
                background-position: center top;
                background-size: contain;
            }


            @each $category in (charms, necklaces, earrings, rings, essence, bracelets, new, gifts, collections) {
                &-#{$category}:after {
                      background-image: url('../assets/images/examples/category-images/category-image-#{$category}.png');
                }
            }
        }
    }
}

