/*==========================================================================
   Product detail page
==========================================================================*/

.product-container {
    .product-container-portrait {
        display: flex;
        flex-flow: column;
        flex-grow: 1;

        .product-content {
            overflow-y: scroll;
            flex-grow: 1;

            // Hide scrollbars
            &::-webkit-scrollbar {
                width: 0 !important;
            }
        }

        .product-content {
            .product-content-title {
                padding: 3rem;
            }

            .product-name {
                font-size: calc(1rem / 18 * 50);
                line-height: calc(1rem / 18 * 65);
                color: $font-color-body;
            }

            .product-price-container {
                .product-price {
                    color: $color-light;
                    font-size: calc(1rem / 18 * 40);
                    line-height: calc(1rem / 18 * 60);

                    &:before {
                        content: '$';
                    }
                }
            }

            .product-sku {
                position: relative;
                font-size: calc(1rem / 18 * 24);
                color: $color-light;
                top: auto;
                right: auto;

                &:before {
                    content: 'SKU ';
                }
            }
        }

        .order-container {
            flex-shrink: 0;

            .button {
                @extend .cta-button;
                display: flex;
                align-content: center;
                justify-content: center;
            }
        }
    }
}

