/*==========================================================================
   Font settings
==========================================================================*/

// --------- Set default fonts --------- //
/*
Please use the Optima font for titles, CTA and body copy
*/
@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 300;
  src: url('../assets/fonts/OpenSans-CondensedLight.woff2') format('woff2');
}

@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/OpenSans-CondensedBold.woff2') format('woff2');
}

@font-face {
  font-family: 'Open Sans Condensed';
  font-style: italic;
  font-weight: 300;
  src: url('../assets/fonts/OpenSans-CondensedLightItalic.woff2') format('woff2');
}

html {
  font-size: $font-size-base;
  line-height: $line-height-default;
  color: $font-color-default;
  font-family: $font-family;
  font-style: normal;
  font-weight: 300;
  //-webkit-font-smoothing: auto;
  //-webkit-font-smoothing: subpixel-antialiased;
  -webkit-font-smoothing: antialiased;
  //letter-spacing: -0.5px;
}

// --------- Orientation font-size adjustments --------- //

@media all and (orientation: portrait) and (min-width: 1080px) {
  html {
    font-size: $font-size-default;
    line-height: $line-height-default;
  }
}

@media all and (orientation: landscape) and (min-width: 1920px) {
  html {
    font-size: $font-size-default;
    line-height: $line-height-default;
  }
}

// --------- Typography --------- //

h1 {
  font-family: $font-family;
  font-weight: normal;
  color: $color-highlight;
}

h2 {
  font-family: $font-family;
  color: $font-color-body;
  font-size: calc(1rem / 18 * 60);
  line-height: calc(1rem / 18 * 100);
  font-weight: normal;
}

// Remove highlight on touch
a:active {
  background: none;
}