.home-container {
  background-image: url( '../assets/images/banner.jpg' );
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 100% auto;
  display: flex;
  flex-flow: column;
  //justify-content: center;
  padding: 4rem;
  padding-top: 60%;

  h1 {
    display: inline-block;
    max-width: 50%;
  }

  li {
    //list-style: none;
    max-width: 80%;
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-bottom: 2rem;
  }

  .button-find {
    display: inline-block;
    width: 50%;
    text-align: center;
    padding: 3rem;
    color: white;
    text-transform: uppercase;
    font-size: 3rem;
    background-color: $color-highlight;
  }

  .techLink {
    margin-top: 2rem;
    a {
      font-size: 2rem;
      color: $color-highlight;
      text-transform: uppercase;
    }
  }

}