.product-content-title {
  min-height: 70px;
  background-color: #f1f1f3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  font-size: 26px;

  .product-name {
    //padding-top: 0.4rem;
    text-transform: uppercase;
    font-size: calc( 1rem / 18 * 26 );
    font-weight: 400;
    color: #231f20;
  }
  .product-price {
    font-size: calc( 1rem / 18 * 26 );
    font-weight: 400;
    //padding-top: 0.4rem;
    color: #3d3b3b;
    &:before {
      content: 'A';
    }
  }
}

.product-content-main {
  flex-grow: 1;
  display: flex;
  flex-flow: row;

  .product-content-left {
    flex-basis: 50%;
    position: relative;

    .product-sku {
      position: absolute;
      text-transform: uppercase;
      top: 6rem;
      color: #3d3b3b;
      &:before {
        content: 'Item # ';
      }
    }

    .product-features {
      font-size: calc( 1rem / 18 * 24 );
      line-height: 2rem;
      letter-spacing: 0.01em;

      margin-top: 8rem;
      position: relative;
      &:after {
        content: 'PRODUCT DETAILS';
        color: white;
        background-color: #adadad;//
        //background-color: #c5c5c9;
        position: absolute;
        font-size: calc( 1rem / 18 * 26 );
        line-height: 4rem;
        top: -4.2rem;
        font-weight: 400;
        padding: 0.2rem 2rem 0rem 2rem;
        left: 4rem;
      }
      border-top: 1px solid #ededed;
      padding: 4rem;
    }

    .product-attributes {
      font-size: calc( 1rem / 18 * 24 );
      line-height: 2rem;
      padding-left: 4rem;
      span:first-child {
        color: #7e7e7e;
        display: inline-block;
        width: 6rem;
      }
    }

  }
  .product-content-right {
    display: flex;
    flex-basis: 50%;
  }
}
/* PORTRAIT OVERRIDES */
@media all and (orientation: portrait) {
  .product-content-main {
    display: flex;
    flex-flow: column;
    flex-grow: 1;
    .product-content-left {
      order: 5;
    }
  }
}

.product-container {
  .product-content {
    color: #78737D;
  }
}