.search-container {
  .search-interface {
    input {
      background-color: white;
    }
    background-color: $color-light;
    .search-input-toggle {
      color: $background-color-dark;
    }
  }
}