/*==========================================================================
   Global Variables
==========================================================================*/

// --------- Fonts --------- //

$font-size-base: 75% !default;
$font-size-default: 18px;
$font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-color-default: #3d3b3b;
$line-height-default: 150%;

// --------- Colours --------- //

$color-highlight: #ea6953;
$font-color-body: #686158;
$font-color-alt: #ffffff;

$color-light: #c0b8b0;
$color-default: #372E2C;


// --------- Background colours --------- //

$background-color-default: #ffffff;
$background-color-light: #f1f1f3;
$background-color-dark: #383330;
$background-medium: #807974;
$background-color-active: rgba(100, 91, 104, 0.3);

// --------- Product list --------- //



/**
 * Optional variables
 *
 * These variables inherit form the base variables found above, and are not required by default. Only override if you wish to set custom values.
 */

//$background-color-footer: red; // optionally set a background color for the footer.
//$background-color-header: red; // Set a custom background colour for the header component

//$home-button-background-color: red; // Set a custom background color for the homepage button
//$home-button-font-color: black; // Set a custom font color for homepage button

