@import 'vars';
@import 'fonts';

@import 'containers/index';
@import 'containers/search';
@import 'containers/productList';
@import 'containers/home';
@import 'containers/pathway';
@import 'containers/product';
@import 'containers/productConfigure';
@import 'containers/checkoutText';

//CMS
@import 'containers/cms/techPage';

@import 'components/gallery';
@import 'components/breadcrumbs';
@import 'components/layout/logo';
@import 'components/layout/header';
@import 'components/layout/footer';
@import 'components/layout/help';
@import 'components/layout/tabs';
@import 'components/util/keyboard';
@import 'components/util/keypad';
//@import 'components/productListItem';
//


html {
  font-size: 75%;
  line-height: 150%;
  //letter-spacing: 0.01em;
  color: #3d3b3b;
}

@media all and (orientation: portrait) and (min-width:1080px) {
  html {
    font-size: 18px;
    line-height: 150%;
  }
}
@media all and (orientation: landscape) and (min-width:1920px) {
  html {
    font-size: 18px;
    line-height: 150%;
  }
}

/* Remove highlight on touch */
a:active {
  background: none;
}